@import "./assets/styles/app";
@import "./assets/styles/custom-variables";
@import "./assets/styles/custom-mixins";
@import "./assets/styles/navbar";
@import "./assets/styles/map";
@import "./assets/styles/footer";
@import "./assets/styles/subheaders";

$references-mragin-bottom-to-next-block:    82px;

$references-caption-text-align:     justify;

$references-directions-header-background:     $custom-yellow-button-background;
$references-directions-header-box-shadow:     $custom-block-box-shadow;
$references-directions-header-letter-spacing: 0.065em;
$references-directions-header-text-transform: uppercase;

$references-directions-item-font-size:        22px;
$references-directions-item-marker-position:  $references-directions-item-font-size / 2;
$references-directions-item-background:       url("/assets/icons/list-marker.svg") no-repeat left $references-directions-item-marker-position;

$references-message-text-align:   $references-caption-text-align;

$licensesandcertificates-header-font-size:    32px;
$licensesandcertificates-header-line-height:  43px;
$licensesandcertificates-header-color:        map-get($theme-colors, "custom-text-dark");
$licensesandcertificates-padding:              $spacer * 5 0 $spacer * 1.5;

$licensesandcertificates-caption-font-size:     21px;
$licensesandcertificates-caption-line-height:   29px;
$licensesandcertificates-caption-color:         map-get($theme-colors, "custom-header-dark");

$licensesandcertificates-slider-max-height:         512px;
$licensesandcertificates-slider-image-box-shadow:   4px 7px 20px 6px rgba(0, 0, 0, 0.14);

$licensesandcertificates-pagination-background:     linear-gradient(270deg, #2D394F 6.05%, rgba(62, 79, 112, 0.956441) 131.85%);
$licensesandcertificates-pagination-box-shadow:     4px 7px 20px 6px rgba(0, 0, 0, 0.14);
$licensesandcertificates-pagination-border-radius:  29px;
$licensesandcertificates-pagination-padding:        10px 0;
$licensesandcertificates-pagination-width:          110px;

$licensesandcertificates-button-width:        20px;
$licensesandcertificates-button-height:       10px;

$customers-list-min-width:            374px;
$customers-caption-min-height:        439px;
$customers-caption-max-width:         16ch;

.references {
  display: grid;
  gap: $spacer * 3 $spacer * 4;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: $references-mragin-bottom-to-next-block;

  @include  media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }

  &__caption {
    @include style-text-node("21px", "26px", map-get($theme-colors, "custom-header-dark"), $font-weight-regular);
    text-align: $references-caption-text-align;

    grid-row: 1;
    grid-column: span 2;
  }

  &__direction {
    &_header {
      background: $references-directions-header-background;
      box-shadow: $references-directions-header-box-shadow;
      padding: $spacer * .25;

      @include style-text-node("26px", "43px", $white, $font-weight-bold);
      letter-spacing: $references-directions-header-letter-spacing;
      text-transform: $references-directions-header-text-transform;

      grid-row: 2;
      grid-column: 1;

      @include  media-breakpoint-down(md) {
        grid-column: span 2;

        width: fit-content;
        width: -moz-fit-content;
      }
    }

    &_list {
      padding: 0;
      margin: 0;

      display: grid;
      gap: $spacer;

      grid-row: 3;
      grid-column: 1;

      @include  media-breakpoint-down(md) {
        grid-column: span 2;
        grid-template-columns: repeat(2, 1fr);

        &[data-listkey="1"] {
          grid-column: 1;
        }
      }

      @include  media-breakpoint-down(sm) {
        grid-template-columns: auto;
      }
    }

    &_item {
      @include style-text-node(
                      $references-directions-item-font-size,
                      "34px",
                      map-get($theme-colors, "custom-header-dark"),
                      $font-weight-regular
      );
      list-style: none;
      background: $references-directions-item-background;
      padding-left: $spacer;

      &[data-listkey="1"] {
        @include  media-breakpoint-down(md) {
          grid-column: 1;
          grid-row: span 3;
        }
      }
    }
  }

  &__message {
    @include style-text-node("23px", "35px", map-get($theme-colors, "custom-header-dark"), $font-weight-regular);
    text-align: $references-message-text-align;

    grid-row-start: 2;
    grid-row: span 2;
    grid-column: 2;

    @include  media-breakpoint-down(md) {
      grid-column: span 2;
    }
  }
}

/*
landc - licensesandcertificates
*/

// Headers on 'AboutUs' page
.aboutus {
  &__header {
    @include style-text-node(
                    $licensesandcertificates-header-font-size,
                    $licensesandcertificates-header-line-height,
                    $licensesandcertificates-header-color,
                    $font-weight-bold
    );

    &_landc {
      padding: $licensesandcertificates-padding;
    }
  }
}

// Styles for Licenses And Certificates
.landc {
  &__caption {
    @include style-text-node(
                    $licensesandcertificates-caption-font-size,
                    $licensesandcertificates-caption-line-height,
                    $licensesandcertificates-caption-color,
                    $font-weight-regular
    );
    text-align: justify;
  }

  &__media {
    display: grid;
    grid-template-columns: .4fr .6fr;
    gap: $spacer * 2.75;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      gap: $spacer * 1.25;
    }
  }

  &__list {
    margin: 0;
    display: grid;
    gap: $spacer;
    grid-auto-rows: max-content;
  }

  &__element {
    list-style-type: square;
    @include style-text-node(
                    "20px",
                    "24px",
                    map-get($theme-colors, "custom-header-dark"),
                    $font-weight-light
    );
  }

  &__slider {
    max-height: $licensesandcertificates-slider-max-height;
  }

  &__pagination {
    @include style-text-node("22px", "27px", $white, $font-weight-light);
    background: $licensesandcertificates-pagination-background;
    box-shadow: $licensesandcertificates-pagination-box-shadow;
    border-radius: $licensesandcertificates-pagination-border-radius;
    padding: $licensesandcertificates-pagination-padding;
    width: $licensesandcertificates-pagination-width;
    left: calc(50% - #{$licensesandcertificates-pagination-width / 2});
    right: calc(50% - #{$licensesandcertificates-pagination-width / 2});
  }

  &__prev,
  &__next {
    top: calc(100% - #{$spacer});
    width: $licensesandcertificates-button-width;
    height: $licensesandcertificates-button-height;

    &:after {
      font-size: $spacer * 1.25;
    }
  }

  &__prev {
    left: calc(50% - #{$licensesandcertificates-pagination-width / 2} + #{$spacer * .25});
  }

  &__next {
    right: calc(50% - #{$licensesandcertificates-pagination-width / 2} + #{$spacer * .25});
  }
}

// Styles for Customers and Reviews

.customers {
  &__container {
    display: grid;
    row-gap: $spacer;

    grid-template-areas:
            "customersleftlist customersrightlist customerscaption";

    @include media-breakpoint-down(md) {
      grid-template-areas:
              "customerscaption customerscaption"
              "customersleftlist customersrightlist";
    }

    @include media-breakpoint-down(sm) {
      grid-template-areas:
              "customerscaption"
              "customersleftlist"
              "customersrightlist";
    }
  }

  &__list {
    &_left {
      grid-area: customersleftlist;
      margin-right: $spacer;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }

    &_right {
      grid-area: customersrightlist;
      margin-right: $spacer * 2;

      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }
  }

  &__caption {
    grid-area: customerscaption;
    background: $custom-yellow-button-background;
    box-shadow: $custom-block-box-shadow;

    min-height: $customers-caption-min-height;
    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }

  &__message {
    @include style-text-node($font-size-base * 1.875, $line-height-base - .1, $white, $font-weight-regular);
    max-width: $customers-caption-max-width;

    @include media-breakpoint-down(md) {
      max-width: $customers-caption-max-width * 2;
      padding: $spacer * 1.25;
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }

  &__customer {
    @include style-text-node($font-size-base, $line-height-base + .1, map-get($theme-colors, "custom-header-dark"), $font-weight-regular);
  }
}
