@import "./assets/styles/app";

$main-wrapper-offset:               0 20%;
$main-header-background-color:      #1B0E1B;

.custom-container {
  &__wrapper {
    margin: $main-wrapper-offset;
  }

  &__header {
    background-color: map-get($theme-colors, "custom-dark");
  }
}
