@import "./assets/styles/app";
@import "./assets/styles/custom-variables";
@import "./assets/styles/custom-mixins";
@import "./assets/styles/navbar";
@import "./assets/styles/footer";

// Styles for `Main Activities` page

.activities-header {
  text-align: justify;
  letter-spacing: 0.085em;
  @include style-text-node("21px", "28px", map-get($custom-colors, "custom-header-dark"), $font-weight-semi-bold);

  @include media-breakpoint-up(sm) {
    font-size: 30px;
    line-height: 37px;
  }

  &--md,
  &--lg {
    letter-spacing: -0.025em;
  }

  &--md {
    max-width: 530px;
    @include style-text-node("29px", "37px", map-get($custom-colors, "custom-header-dark"), $font-weight-semi-bold);

    @include media-breakpoint-up(sm) {
      font-size: 38px;
      line-height: 46px;
    }
  }
  &--lg {
    max-width: 434px;
    @include style-text-node("34px", "43px", map-get($custom-colors, "custom-header-dark"), $font-weight-semi-bold);

    @include media-breakpoint-up(sm) {
      font-size: 43px;
      line-height: 52px;
    }
  }

  &--line-left {
    padding-left: 20px;
    border-left: 9px solid map-get($custom-colors, "custom-yellow");
  }
  &--line-bottom {
    padding-bottom: 25px;
    border-bottom: 3px solid map-get($custom-colors, "custom-yellow");
  }

  &--line-bottom-lg {
    padding-bottom: 16px;
    border-bottom: 8px solid map-get($custom-colors, "custom-yellow");
  }
}

.activities-list {
  margin-bottom: 138px;

  display: grid;
  gap: 71px 192px;
  grid-template-columns: auto;

  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(auto-fit, minmax(471px, 1fr));
  }

  &__description {
    @include style-text-node("17px", "24px", "#122c50", $font-weight-light);
    padding: 25px 0 42px;
  }

  &__link {
    @include style-text-node("19px", "23px", map-get($custom-colors, "custom-yellow"), $font-weight-semi-bold);
  }
}

// templates/main_activities/construction_and_installations.html.twig
.cai {
  display: grid;
  gap: 15px 20px;
  grid-template-areas:
          "maintitle"
          "images"
          "worktypes"
          "info";
  grid-template-columns: 1fr;

  @include media-breakpoint-up(md) {
    grid-template-areas:
          "maintitle wideimage wideimage"
          "worktypes images images"
          "worktypes info info";
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: minmax(402px, auto) minmax(433px, auto) auto;
  }
}

.cai__main-title-block {
  grid-area: maintitle;
}

.cai__main-title {
  @include  style-text-node("22px", "35px", $white, $font-weight-light);
  letter-spacing: -0.045em;

  background: $custom-yellow-button-background;
  box-shadow: $custom-block-box-shadow;

  padding: 25px 20px;
}

.cai__images {
  grid-area: images;
  display: flex;
  gap: 14px;
}

.cai__image {
  max-width: 293px;

  &--wide {
    grid-area: wideimage;
    max-width: 600px;
  }
}

.cai__work-types {
  grid-area: worktypes;

  padding: 43px 0;
}

.cai__work-types-title {
  @include style-text-node("31px", "38px", map-get($custom-colors, "custom-header-dark"), $font-weight-semi-bold);
  text-align: justify;
  letter-spacing: -0.025em;
}

.cai__work-types-list {
  padding: 0;
  margin-left: -#{$spacer};
}

.cai__work-type {
  @include style-text-node("24px", "38px", map-get($custom-colors, "custom-header-dark"), $font-weight-regular);
  letter-spacing: 0.005em;
  list-style: none;
  background: url("/assets/icons/activities-list-marker.svg") no-repeat left $spacer;
  padding-left: $spacer;
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

.cai__title-on-image {
  grid-area: info;
}
