$map-header-font-size:        32px;
$map-header-line-height:      39px;
$map-header-margin-bottom:    72px;

$map-caption-text-align:      justify;
$map-caption-margin-bottom:   37px;

$map-with-caption-custom-background:    #F7F7F7;

$map-min-height:    585px;
$map-fill-color:    #2D394F;

$map-bubble-radius-on-hover:  22;

$map-popup-card-max-width:      180px;
$map-popup-card-border-radius:  2px;
$map-popup-min-height:          240px;
$map-popup-img-min-height:      150px;

$map-popup-name-font-size:    14px;
$map-popup-name-line-height:  17px;
$map-popup-name-color:        map-get($theme-colors, "map-card-text");

$map-popup-caption-font-size:    12px;
$map-popup-caption-line-height:  15px;
$map-popup-caption-color:        map-get($theme-colors, "map-card-text");

.map-header {
  @include style-text-node(
                  $map-header-font-size,
                  $map-header-line-height,
                  map-get($theme-colors, "custom-header-dark"),
                  $font-weight-bold
  );
  margin-bottom: $map-header-margin-bottom;

  &_with_caption {
    padding-top: $spacer * 4;
    margin-bottom: $spacer * 1.5;
  }
}

.map-caption {
  @include style-text-node("21px", "29px", map-get($theme-colors, "custom-header-dark"), $font-weight-regular);
  text-align: $map-caption-text-align;
  margin-bottom: $map-caption-margin-bottom;
}

.map-custom-bg {
  background: $map-with-caption-custom-background;
}

.map-container {
  $map-container: ".map-container";
  min-height: $map-min-height;

  .datamaps-bubble {
    &:hover {
      r: $map-bubble-radius-on-hover;
      filter: drop-shadow(0px 0px 9px rgba(255, 248, 232, 0.49));
    }
  }

  .datamaps-hoverover {
    .hoverinfo {
      padding: 0;
      max-width: $map-popup-card-max-width;
      box-shadow: none;
      border: none;
      border-radius: $map-popup-card-border-radius;
    }
  }
}

.map-popup {
  $map-popup: ".map-popup";

  min-height: $map-popup-min-height;

  #{$map-popup}__img {
    min-height: $map-popup-img-min-height;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-top-left-radius: $map-popup-card-border-radius;
    border-top-right-radius: $map-popup-card-border-radius;
  }

  #{$map-popup}__name {
    font-size: $map-popup-name-font-size;
    line-height: $map-popup-name-line-height;
    color: $map-popup-name-color;
  }

  #{$map-popup}__caption {
    font-size: $map-popup-caption-font-size;
    line-height: $map-popup-caption-line-height;
    color: $map-popup-caption-color;
  }
}
