.navbar-header {
  &__text {
    font-size: $navbar-header-font-size;
    line-height: $navbar-header-line-height;
  }
}

.navbar-banner {
  background: url("/assets/img/landing_bg.png") no-repeat;
  background-size: cover;
  height: $navbar-banner-height;
}

.navbar-with-banner {
  &__menu {
    margin-bottom: $navbar-with-banner-margin-bottom;
  }
  &__logo {}
  &__link {
    font-size: $navbar-link-font-size;
    line-height: $navbar-link-line-height;
  }
  &__header {
    font-size: $navbar-with-banner-header-font-size;
    line-height: $navbar-with-banner-header-line-height;
  }
  &__caption {
    font-size: $navbar-with-banner-caption-font-size;
    line-height: $navbar-with-banner-caption-line-height;
  }
  &__button {
    background: $navbar-with-banner-button-color;
    padding: $spacer $spacer * 2;
    color: $white;
    @include box-shadow($btn-box-shadow);
  }
}
