{% extends 'components/_wrapper.html.twig' %}
{% if customersfeedback.extracontainerclasses is defined %}
    {% set extracontainerclasses = customersfeedback.extracontainerclasses %}
{% endif %}
{% block wrappercontent %}
    <h1 class="aboutus__header aboutus__header_landc">Отзывы наших заказчиков</h1>
{% endblock %}
